body{
    background-color: black;
}

.gameboard {
    width: 1300px;
    height:600px;
    border:3px solid white;
    background-color: green;
}

.ten-yards-even{
    width: 129px;
    height: 600px;
    float:left;
}

.ten-yards-odd{
    width: 126px;
    height: 600px;
    float: left;
}
.row {
    width: 40px;
    height: 600px;
    padding: 0;
    border-right: solid white 3px;
    float: left;
}

.row div{
    width: 40px;
    height: 19px;
    float: bottom;
    background-color: red;
}

.border-top{
    border-top: solid white 1px;
}

.border-bottom{
    border-bottom: solid white 1px;
}

.border-top-bottom{
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}
