{% extends "battleball/base.html" %}

{% block body_block %}
<div class="container">
<div class="jumbotron">
<form>
<ul class="list-group gamelist">

<h2> Game Lobby </h2>

<div class="container">
    <div class="jumbotron">
				
        <p><a href='/battleball/board/create/' class="btn btn-primary btn-lg btn-block" >Create Game</a></p> 
		</div>
</div>

{% for game in object_list %}
  <li class="list-group-item">
  <button class="btn btn-default" style="width:400px" type="submit" formaction="{{ game.id }}">
		<h4 class="list-group-item-heading">{{ game.title }}</h4>
    <p>{{ game.homeTeam }} {{ game.homeScore }}-{{ game.awayScore }} {{ game.awayTeam }}</p>
	</button>
  </li>
{% endfor %}
</ul>
</form>
</div> 
</div>
{% endblock %}
