 <!--This html page will be the front/main page of the website.-->
 {% load staticfiles %}
<!DOCTYPE html>

<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Battleball</title>
	    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
	    {% block script_block %}{% endblock %}
	    <style type="text/css">
	    img{
	    	display:block;
	    	margin:auto;
	    }
	    p{
	    	margin:auto;
	    	font-size: 100px;
	    }
	    .center {
	    margin-left: auto;
	    margin-right: auto;
	    width: 70%;
		}
		#title{
			color: red;
			font-family: Impact;
			-webkit-text-fill-color: red; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: gold;
		}
	    </style>
    </head>
		<!--<body background = "http://www.gamersalliance.com/Fall%202003/battleball.jpg">-->
		<body background="{% static 'battleball/images/field.jpg' %}">
	    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <!-- Collect the nav links, forms, and other content for toggling -->
		        <div class="collapse navbar-collapse" id="navbarCollapse">
		            <ul class="nav navbar-nav">
		                <li class="active"><a href="/battleball/">Home</a></li>
		                <li><a href="{% url 'about' %}">About</a></li>
		                <li><a href="#">Contact</a></li>
		            </ul>
		        </div>
	        </div>
	        
	        <div class="navbar-collapse collapse"> 
	          <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' slug=user.username %}">View Profile</a></li>
                    <li><a href='/battleball/board/'><strong>Play Now</strong></a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                	<li><a href="{% url 'registration_register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
	          </ul>
	        </div>
	       
	      </div>
	    </div>

	    <div class="container-fluid">
	      
	        <p id="title">BattleBall</p>
	           <div class="center">
	                <img src="{% static 'battleball/images/front-page.jpg' %}" width="800px">
	            </div>
	        
	      
	    </div>
    </body>

</html>

