<!DOCTYPE html>
<html lang='en-us'>
    <head>
        <meta charset='utf-8'>
        <title>BattleBall Registration</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>

    <body>
		<h1> FFFFFFFFFFFFFFFFFFFFFFF</h1>
		<div class="container">
		<div class="jumbotron">
				<center>
        <h1>Register with BattleBall</h1>

        {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="/battleball/">Return to the homepage.</a><br />
        {% else %}
        <strong>Register here!</strong><br />

        <form id="user_form" method="post" action="/battleball/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" class="btn btn-success" name="submit" value="Register" />
        </form>
        {% endif %}
				</center>
		</div>
		</div>
    </body>
</html>
