@font-face {
    font-family: scoreboardFont;
    src: local(Score Board);
}

#scoreboard {
	background-color: #000000;
	width: 100%;
	display: inline-block;
	font-family: scoreboardFont;
	font-size: 20px;
	color:#FFFF00;
}

#teams{
	width:300px;
	float:left;
}

